{{#word-filter
  english_cur=english_cur
  value=search
  filter=(action 'filterByWord')
  as |words|}}
  
    <ul class="koyla-result-ul">
      {{#each words as |w|}}
        <li><b>{{ settings.source_header }}:</b> {{if english_cur w.word w.la}}</li>
        <li><b>{{ settings.target_header }}:</b> {{if english_cur w.la w.word}}</li>
        <li><b>{{ settings.comment_header }}:</b> {{w.comment}}</li>
        <li>.........................</li><br>
      {{/each}}
    </ul>
{{/word-filter}}
