
<label class="koyla-source-label">{{ settings.source_language }}</label>

{{#word-filter
  value=search
  placeholder=settings.input_placeholder
  filter=(action 'filterByWord')
  as |words|}}

    <label class="koyla-target-label">{{ settings.target_language }}</label>

    <button {{action "changeLanguage_onClick"}} type="submit" class="koyla-change-button">{{ settings.button_change }}</button>

    {{#each words as |w|}}
        <ul class="koyla-result-ul">
            <li><b>{{ settings.source_header }}:</b> {{if english_cur w.word w.la}}</li>
            <li><b>{{ settings.target_header }}:</b> {{if english_cur w.la w.word}}</li>
            <li><b>{{ settings.comment_header }}:</b> {{w.comment}}</li>
            {{#if w.grammarCard.body}}
                <div class='koyla-info-icon' onclick={{disable-bubbling (action "showTextBook" w.grammarCard.body)}}>
                    {{info-icon}}
                </div>
            {{/if}}
        </ul>
    {{/each}}
{{/word-filter}}


{{#click-outside action=(action "hideTextBook")}}
    {{#if textOpen}}
        {{text-book info=clickedCard hideTextBookComp=(action "hideTextBook")}}
    {{/if}}
{{/click-outside}}
