
{{#word-filter
value=value
filter=(action 'filterByWord')
as |cards|}}
    <button {{action "flipAllCards_onClick"}} type="submit" class="latay-flip-button">Flip'em all</button>
    {{#each cards as |card|}}

        <div class="latay-flip-container {{if card.flip "latay-flip"}}" {{action "flipCard" card}}> 
            <div class="latay-flipper">
                <div class="latay-card latay-frontCard">{{card.front}}</div>
                <div class="latay-card latay-backCard">{{card.back}}</div>
            </div>
        </div>

    {{/each}}
{{/word-filter}}
