
{{#word-filter
value=value
filter=(action 'filterByWord')
as |cards|}}
    <button {{action "allCardsFront_onClick"}} type="submit" class="latay-flip-button">All to Front</button>
    <button {{action "flipAllCards_onClick"}} type="submit" class="latay-flip-button">Flip'em All</button>
    {{#each cards as |card|}}

        <div class="latay-flip-container {{if card.flip 'latay-flip'}}" {{action "flipCard" card}}> 
            <div class="latay-flipper">

                    <div class="latay-card latay-frontCard">{{card.front}}</div>
                    <div class="latay-card latay-backCard">{{card.back}}
                        
                        <div class='latay-info-icon' onclick={{disable-bubbling (action "showTextBook" card.grammarCard.body)}}>
                            {{info-icon}}
                        </div>
                    </div>

            </div>
        </div>

    {{/each}}
{{/word-filter}}

{{#click-outside action=(action "hideTextBook")}}
    {{#if textOpen}}
        {{text-book info=clickedCard hideTextBookComp=(action "hideTextBook")}}
    {{/if}}
{{/click-outside}}
    